-c requirements.txt

# install, making requirements, ...
pip-tools~=6.8

# code format
black~=22.3
flake8~=4.0
flake8-docstrings~=1.5
isort~=5.10
mypy==0.910
pre-commit~=2.15

# testing
pytest~=7.0
pytest-cov~=3.0
pdbpp~=0.10
