-c requirements.txt

# install, making requirements, ...
pip-tools~=7.3

# code format
ruff~=0.1
mypy==0.910
pre-commit~=2.15

# testing
pytest~=7.0
pytest-cov~=3.0
pdbpp~=0.10

# modeling
scikit-learn~=1.1
matplotlib~=3.6
pandas~=1.5
tqdm~=4.64
